#post-metabox,
#post-metabox .post-metabox-child {
    display: none;
}
#portfolio-metabox-content .images-list,
#staticblock-metabox .images-list,
#post-metabox .images-list {
    margin: 0 -5px;
    padding-top: 5px;
}
#portfolio-metabox-content .images-list li,
#staticblock-metabox .images-list li,
#post-metabox .images-list li {
    float: left;
    padding: 5px;
    position: relative;
    min-width: 64px;
}

#portfolio-metabox-content .images-list li a.change-image,
#portfolio-metabox-content .images-list li a.remove-image,
#staticblock-metabox .images-list li a.change-image,
#staticblock-metabox .images-list li a.remove-image,
#post-metabox .images-list li a.change-image,
#post-metabox .images-list li a.remove-image {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 5px;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.7;
    text-decoration: none;
}
#portfolio-metabox-content .images-list li .dashicons,
#staticblock-metabox .images-list li .dashicons,
#post-metabox .images-list li .dashicons {
    line-height: inherit;
}
#portfolio-metabox-content .images-list li.ui-sortable-placeholder,
#staticblock-metabox .images-list li.ui-sortable-placeholder,
#post-metabox .images-list li.ui-sortable-placeholder {
    outline: 1px solid #F00;
}
#portfolio-metabox-content .images-list li a.change-image:hover,
#portfolio-metabox-content .images-list li a.remove-image:hover,
#staticblock-metabox .images-list li a.change-image:hover,
#staticblock-metabox .images-list li a.remove-image:hover,
#post-metabox .images-list li a.change-image:hover,
#post-metabox .images-list li a.remove-image:hover {
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
}
#portfolio-metabox-content .images-list li a.change-image,

#post-metabox .images-list li a.change-image {
    right: 30px;
}
#staticblock-metabox .images-list li a.change-image{
	left: 5px;
}
#staticblock-metabox .images-list li a.remove-image{
	left: 30px;
}
#portfolio-metabox-content .images-list li a.remove-image,

#post-metabox .images-list li a.remove-image {
    right: 5px;
}
#portfolio-metabox-content .images-list:before,
#portfolio-metabox-content .images-list:after,
#staticblock-metabox .images-list:before,
#staticblock-metabox .images-list:after,
#post-metabox .images-list:before,
#post-metabox .images-list:after {
    content: "";
    display: table;
}
#portfolio-metabox-content .images-list:after,
#staticblock-metabox .images-list:after,
#post-metabox .images-list:after {
    clear: both;
}
#post-formats-select-portfolio label:before{
    top:5px;
}
.video-list li textarea{
    width:95%;
    min-height: 100px;
}
.video-list li .remove-image i{
    border: 1px solid #ccc;
    text-decoration: none;
    color: #ccc;
    margin-left: 2px;
}
.postbox  select{
    width:200px;
}
.color-picker {
    display: inline-block;
    clear: both;
}
.color-picker input{
    border-right:none;
    color: transparent;
    height: 30px;
    width:60px !important;
    float: left;
    border:1px solid #ccc;
    margin:0;
    border-radius: 3px 0 0 3px
}
.color-picker label{
    background: #eee;
    border:1px solid #ccc;
    border-left: none;
    font-size: 12px;
    padding:4px;
    height: 20px;
    display: inline-block;
    float: left;
    border-radius: 0 3px 3px 0
}
.iris-picker{
    margin-top: 30px;
}
#upload_image_bghead,
#upload_image{
    width:200px;
    margin-bottom: 5px;
    height: 31px;
}
input[type="button"]{
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px;
    color: #444;
    cursor:pointer;
}
.illusion_footer_tab{
	display:inline-block;
}
.illusion_footer_tab li{
	display:inline-block;
}
.illusion_footer_tab li.active button{
	background: #f5f5f5;
    color: #555;
    border-bottom-color: #f5f5f5;
}
.illusion_header_layout label,
.illusion_footer_layout label{
	float:left;
	width:150px;
}
.illusion_header_layout > div,
.illusion_footer_layout > div{
	display:inline-block;
}
.wpb_illusion_process > .vc_controls > .vc_controls-cc{
	top:15px;
	visibility:visible;
	opacity: 1 !important;
}
.wpb_illusion_process .vc_tta-tab{
	max-width: 100px;
	height:50px;
	overflow:hidden;
}